In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/data_2.csv',dtype=float)

In [3]:
df.head()

,AGE,BMI,BP_HIGH,TOT_CHOLE,HDL_CHOLE,LDL_CHOLE,stroke,DM,current_ascvd,HTN_DIAG,interval,econo,drinking,gender,smk1,smk2,group1,group2
0,58.0,22.43,121.0,210.0,46.0,146.0,0.0,0.0,0.0,0.0,1825.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
1,58.0,20.28,120.0,199.0,72.0,117.0,0.0,0.0,0.0,0.0,1460.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0
2,58.0,21.99,120.0,164.0,43.0,64.0,0.0,0.0,0.0,0.0,1825.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0
3,58.0,24.84,117.0,256.0,65.0,169.0,0.0,1.0,1.0,0.0,1825.0,3.0,1.0,0.0,0.0,0.0,1.0,0.0
4,58.0,25.39,134.0,145.0,25.0,82.0,0.0,0.0,0.0,0.0,1825.0,4.0,1.0,1.0,0.0,1.0,0.0,0.0

In [4]:
# 데이터 형 변환
integer = ['stroke','DM','current_ascvd','HTN_DIAG','gender','smk1','smk2','group1','group2']

for i in integer:
    df[i] = df[i].astype('int')
df.dtypes

AGE              float64
BMI              float64
BP_HIGH          float64
TOT_CHOLE        float64
HDL_CHOLE        float64
LDL_CHOLE        float64
stroke             int64
DM                 int64
current_ascvd      int64
HTN_DIAG           int64
interval         float64
econo            float64
drinking         float64
gender             int64
smk1               int64
smk2               int64
group1             int64
group2             int64
dtype: object

In [5]:
#스케일
from sklearn.preprocessing import MinMaxScaler
scaler = ['AGE','BMI','BP_HIGH','TOT_CHOLE','HDL_CHOLE','LDL_CHOLE','interval','econo','drinking']

min = MinMaxScaler()
min.fit(df[scaler])
df[scaler] = min.transform(df[scaler])

df.head()

,AGE,BMI,BP_HIGH,TOT_CHOLE,HDL_CHOLE,LDL_CHOLE,stroke,DM,current_ascvd,HTN_DIAG,interval,econo,drinking,gender,smk1,smk2,group1,group2
0,0.392857,0.235971,0.304688,0.169786,0.033453,0.236928,0,0,0,0,1.0,0.25,0.125,0,0,0,0,0
1,0.392857,0.175645,0.296875,0.155080,0.064516,0.189542,0,0,0,0,0.8,1.00,0.125,0,0,0,0,0
2,0.392857,0.223625,0.296875,0.108289,0.029869,0.102941,0,0,0,0,1.0,0.50,0.125,1,0,1,0,0
3,0.392857,0.303591,0.273438,0.231283,0.056153,0.274510,0,1,1,0,1.0,0.75,0.125,0,0,0,1,0
4,0.392857,0.319024,0.406250,0.082888,0.008363,0.132353,0,0,0,0,1.0,1.00,0.125,1,0,1,0,0

In [7]:
#1. 데이터 분류
from sklearn.model_selection import train_test_split

X = df.drop('stroke', axis=1)
Y = df['stroke']

X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size= 0.2,shuffle=True, random_state=1000) # stratify데이터 분포도 골고루하기

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4916, 17)
(1229, 17)
(4916,)
(1229,)

In [ ]:
import tensorflow as tf

def get_model(X_train, Y_train):
    
    model = tf.keras.models.Sequential()
    model.add(tf.keras.layers.Dense(64, activation='relu'))
    model.add(tf.keras.layers.Dense(64, activation='relu'))
    model.add(tf.keras.layers.Dense(10, activation='softmax'))
    
    model.compile(loss='sparse_categorical_crossentropy',optimizer='adam',metrics=['accuracy'])
    
    model.fit(x_train,y_train,epochs=100,verbose=2)
    
    return model